
.popup-box{
    position: fixed;
    background:  rgb(174, 96, 96);
    left: 30;
    /* top: 30; */
    width: 50%;
    height: 50vh;
    text-align: center;
    margin-top: 15%;
    margin-left: 20%;
    
    
}

.box{
  text-align: right;
    position:relative;
    top: 50%;
    left: 30%;
    right: 30%;
    width:240px;
    height:18em;
    margin-top: 100px; /*set to a negative number 1/2 of your height*/
    margin-left: 100px;
   
    border-radius: 4px;
    /* margin: 20px auto; */
    padding: 2px;

    display: inline-block;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(2, 0, 0, 0.75);
  }

  .btn-close{
    cursor: pointer;
    border: 1px solid #999;
    position: relative ; 
    float: right;
    margin-top: -22rem;
    right: 20px;
    top: 15px;
  }
  
.title-des{
  width: 400px;
  text-align: center;
  display: inline-block;
}

 .description-des{
  width: 400px;
  text-align: center;
  display: inline-block;
 } 
  
 .dropdpwn-btn{
  height: 100px;
  text-align: center;
  
 } 

 .submit-des{
  margin-bottom: 0;
 }