*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 10vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex {
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
}
.d-flex input{
    flex: 1;
    border: none;
    outline: none;
}

.d-flex button{
    background: rgb(174, 96, 96);;
    padding:10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}